<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Promo App</title>
    <meta name="description" content="Slideshow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/postindexstyle.css">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    
    <style>
        .col-xs-12 {
            background-color: #ccc;
            padding: 0;
        }


    </style>
</head>
{% extends 'base.html.twig' %}


{% block body %}

    <h1>Posts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Tags</th>
                <th>Media</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                <td>{{ post.name }}</td>
                <td>{{ post.tags }}</td>
                <td>{{ post.media }}</td>
                <td>{{ post.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('post_show', { 'id': post.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_create') }}">Create a new post</a>
        </li>
        <li>
            <a href="{{ path('homepage') }}">Back to feed</a>
        </li>
    </ul>
{% endblock %}
